# Template for .env file

# Secret for NextAuth, https://next-auth.js.org/configuration/options#nextauth_secret
NEXTAUTH_SECRET=""

# You have to specify NEXTAUTH_URL in local environment to get signing in to work properly
NEXTAUTH_URL="http://localhost:3000"

# Get Alchemy API KEY
# https://auth.alchemy.com/
ALCHEMY_API_KEY=""
